body{
    font-family: 'Inter';
}

.containers{
    display:flex;

}
.sidebar{
    border-right:0.6px solid #eee9fd ;
    background-color:  rgba(246, 234, 255, 0.04);
    width:250px;
    display:flex;
    flex-direction: column;
}

.logo-wrapper{
    display:flex;
    margin-bottom:20px;
}

.logo-wrapper h3{
    margin-top:10px;
    font-size: 24px;
    font-weight: bold;
}
.logo-wrapper img{
    margin-right:5px;
    margin-bottom:5px;
    margin-top:5px;
    width:50px;
}

.sidebar-wrapper{
    margin-bottom:10px;
    margin-left:10px;
    display:flex;
    font-weight: bold;
}

.sidebar-wrapper:hover{
    background-color:#ededed ;
}

.sidebar-wrapper img{
    margin-right:7px;
    margin-bottom:5px;
    margin-top:10px;
    width:30px;
    height:30px;
}

.sidebar-wrapper a{
    margin-top:14px;
    display: block;
    text-decoration: none;
    color:black;
}


.home-wrapper{
    flex: 1;
    width:100%;
    display:flex;
    flex-direction: column;
    margin-left: auto;
}

.top-wrapper{
    margin-top:20px;
    border-bottom:0.6px solid #eee9fd ;
    padding-bottom:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.top-wrapper input{
    margin-left:50px;
    padding-left:20px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 4px 2px #eee9fd;
    width:500px;
    height:40px;
}

.top-wrapper button{
    color:red;
    margin-right:30px;
    padding:15px 60px;
    border:none;
    border-radius:5px;
    box-shadow: 4px 4px 4px #eee9fd;
    background-color: white;
}

.content-wrapper{
    display:flex;
    flex-direction: column;
}

.stat-wrapper{
    margin:20px 50px 20px 50px;
    border:0.6px solid #eee9fd;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
    border-radius:10px;
    
    display:flex;
    flex-direction:column;
}

.hi{
    padding-top:10px;
    font-weight: bold;
    padding-left:30px;
    padding-bottom:10px;
    border-bottom:0.6px solid #eee9fd
}

.stats{
    margin-top:20px;
    margin-bottom:20px;
    justify-content: center;
    align-items: center;
    display:flex;
}

.stat{
    margin:0 50px;
    display:flex;
}
.stat img{
    border-radius: 50%;
    box-shadow:2px 4px 2px #eee9fd ;
    margin-right:20px;
    margin-top:20px;
    width:50px;
    height: 50px;
}

.desc-stat p{
    margin-bottom:10px;
}
.desc-stat h2{
    margin-top:0px;
    
}

.predict-container{
    margin:20px 50px 20px 50px;
    border:0.6px solid #eee9fd;
    border-radius:10px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
}

.predict-container h2{
    padding-top:10px;
    font-weight: bold;
    padding-left:30px;
    padding-bottom:10px;
    border-bottom:0.6px solid #eee9fd
}
.predict-wrapper{
    margin-top:20px;
    justify-content: center;
    display: flex;
    gap:200px;

}

.list-patient-wrapper{
    margin-top:20px;
    margin-left:50px;
    display:flex;
    flex-direction: column;
}

.search-list{
    
}

.search-list button{
    margin-left:10px;
    padding:10px 10px;
    border:none;
    border-radius:5px;
    box-shadow: 0px 4px 2px #eee9fd;
    background-color: white;
}


.search-list input{
    box-shadow: 0px 4px 2px #eee9fd;
    padding-left:20px;
    border: none;
    border-radius: 7px;
    width:300px;
    height:40px;
}

.list-patient{
    cursor: pointer;
    margin-top:20px;
    list-style:none;
}

.list-patient li{
    display:flex;
    margin-bottom:5px;
    padding-bottom:10px;
    border-bottom:0.6px solid #eee9fd
}


.list-patient img{
    margin-right:10px;
    width:40px;
    height:40px;
    border-radius: 50%;
}

.list-patient p{
    margin-top:6px;
}



.predicts{
    margin-right:70px;
    margin-bottom:20px;
    display:flex;
    flex-direction: column;
    justify-content:center ;
}

.predicts h1{
    margin:0 auto;
}





#inputTag{
    display:none;
}

.upload-wrapper{
    margin-right:100px;
    width:200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-wrapper label{
    margin-bottom:20px;
    padding: 20px;
    border-radius:10px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
    border:0.6px solid #eee9fd;

}

.upload-wrapper button{
    padding:10px;
    background-color: white;
    border-radius:5px;
    box-shadow: 0px 4px 2px #eee9fd;
    border:0.6px solid #eee9fd;
    
}

.upload-wrapper button:active{
    margin-top: 4px;
    padding:10px;
    background-color: white;
    border-radius:5px;
    border:0.6px solid #eee9fd;
    box-shadow:none;
}

.upload-wrapper p{
    text-align: center;
}

.upload-wrapper img{
    margin-bottom:20px;
    margin-left:20px;
    width:100px;
    border-radius:10px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
    
}

.upload-wrapper label{
    cursor: pointer;
}

.upload-wrapper h1{
    margin-bottom:10px
}


.report-wrapper{
    margin:20px 50px 20px 50px;
    border:0.6px solid rgba(246, 234, 255, 1);
    border-radius:10px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
}

.report-wrapper h2{
    padding-top:10px;
    font-weight: bold;
    padding-left:30px;
    padding-bottom:10px;
    border-bottom:0.6px solid #eee9fd;
}

.reports{
    margin-top:20px;
    margin-left:30px;
    padding-left:15px;
    flex-wrap:wrap;
    display:flex;
    gap: 50px;
    margin-bottom:20px;
}


.report{
    cursor: pointer;
    display:flex;
    flex-direction: column;

}

.user-wrapper{
    display:flex;
    padding:2.5px 180px 2.5px 20px;
    background: rgba(246, 234, 255, 0.4);
    border-radius: 8px;
    margin-bottom:10px;
}

.user-wrapper p{
    font-weight: bold;
    margin-top:5px;
    text-align: center;
}

.user-wrapper img{
    margin-right:10px;
    margin-top:3px;
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.result{
    cursor: pointer;
    margin-bottom:10px;
    padding-right:20px;
    padding-left:20px;
    border:0.6px solid rgba(246, 234, 255, 0.7);
    border-radius:10px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.result h4 {
    font-weight: bold;
    margin-top:10px;
    margin-bottom:0px;
}

.result h3{
    margin:10px 0;
    padding:10px 20px;
    width:300px;
    border:1px solid rgba(246, 234, 255, 1);
}
.messages{
    color:green;
    margin-top:10px;
}

.note-wrapper{
    justify-content: space-between;
    display:flex;
}

.predict{
    border-radius: 5px;
    padding:5px 10px;
    background-color:rgba(246, 234, 255, 0.4);
}



select {
  /* Reset Select */
  outline: 0;
  border: 0;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-color: white;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.selects {
    margin-bottom:20px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.04);
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.selects::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #eee9fd;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.selects:hover::after {
  color: white;
}

.result img{
    border-radius: 10px;
    margin:10px 0;
    width:100px;
    height:100px;
}